language: python
cache:
    - apt
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install fglrx opencl-headers
    - sudo apt-get install libatlas-dev libatlas-base-dev libblas-dev
python:
    - "2.7"
    - "3.3"
env:
    - PIP_SPECIFIER=.[docs]
    - PIP_SPECIFIER=.[opencl,docs]
install:
    - pip install --upgrade pip setuptools  # Upgrade pip and setuptools to get ones with `wheel` support
    - pip install --no-use-wheel pytools # Work around broken pytools wheel on Py3
    - pip install --no-use-wheel coveralls # For updating coverage info
    - pip install --find-links http://wheels2.astropy.org/ --use-wheel numpy matplotlib ipython
    - pip install -e $PIP_SPECIFIER
script:
    - python setup.py nosetests
    - python scripts/benchmark_opencl.py
    - python setup.py build_sphinx
after_success:
    - coveralls

